@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");


*, *::before, *::after{
    box-sizing:border-box;
   }

img {
	max-width: 100%;
	height: auto;
}

.logo img{
    width: 151px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    &:hover{
        opacity: 0.8;
    }
}

a{
    display: inline-block;
    text-decoration: none;
    color: #212529;
    &:hover{
        color: #198754;
    }
}

.text-center{
    text-align: center;
}

.material-symbols-outlined {
    color: #000;
    font-size: 24px;
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }

