  //margin
  
  .m-4d5 {
    margin: 2rem !important;
  }

  .mx-4d5 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .my-4d5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .mt-4d5 {
    margin-top: 2rem !important;
  }

  .me-4d5 {
    margin-right: 2rem !important;
  }

  .mb-4d5 {
    margin-bottom: 2rem !important;
  }

  .ms-4d5 {
    margin-left: 2rem !important;
  }

  //padding

  .p-4d5 {
    padding: 2rem !important;
  }

  .px-4d5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .py-4d5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .ps-4d5 {
    padding-left: 2rem !important;
  }

  .pe-4d5 {
    padding-right: 2rem !important;
  }

  .pe-5d5 {
    padding-right: 3rem !important;
  }


  .pt-4d5 {
    padding-top: 2rem !important;
  }

  .pb-4d5 {
    padding-bottom: 2rem !important;
  }

  //font-size

  .fs-7 {
    font-size: 0.875rem !important;
  }
  
  .fs-8 {
    font-size: 0.75rem !important;
  }

  //button

  .btn-outline-secondary:hover{
    background-color: #b2b4b3;
    border-color: #fff;
  }
  

